In [1]:
from volumeSpikeDetector import *
from utility import *
# volume spike detector
import pandas as pd
import numpy as np
from datetime import date
from nsepy import symbols
from indicators import *
import yfinance as yf
import sys
from IPython.display import display, clear_output
from IPython.utils import io
import time

In [2]:
data=load_data()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [3]:
result=filterVolumeSpike(data,1.7)
result['upOrDown']=np.where((result["Close"]-result["Open"]>0)>0,1,0)
result.loc['2023-04-17'].reset_index(drop=True).style.apply(highlight_greaterthan, threshold=1, column='upOrDown', axis=1)

In [48]:
watchList=list(result.loc['2023-03-24'].Symbol.unique())
for i in range(0,len(watchList)):
    watchList[i]=watchList[i]+".NS"
watchList

['ACC.NS',
 'ADANIENT.NS',
 'ADANIGREEN.NS',
 'ATGL.NS',
 'ADANITRANS.NS',
 'BEL.NS',
 'CIPLA.NS',
 'NYKAA.NS',
 'GLAND.NS',
 'HAL.NS',
 'KOTAKBANK.NS',
 'LICI.NS',
 'TATAPOWER.NS',
 'VEDL.NS',
 'ZOMATO.NS']

In [52]:
from indicators import rsi

data=rsi(data)

In [110]:
from nsepy import symbols
from utility import * 

symbols=pd.DataFrame(symbols.get_index_constituents_list("nifty100"))
df_grouped=data.groupby("Symbol")
result=[]

for i in symbols.Symbol:
    try:
        temp=df_grouped.get_group(i)
        int_value=getIntrinsicValue(i)
        #temp=rsi(temp,4)
        #temp=sma(temp,200)
        #current_average=list(temp.sma200)[-1]
        current_price=list(temp.Close)[-1]
        current_rsi=list(temp.rsi)[-1];
        if current_rsi<30 and int_value<current_price:
            
            print(i,int_value,current_price)
    except:
        pass
        print(f"cannot fetch {i}")

cannot fetch ATGL
AXISBANK 753.56 839.9000244140625
cannot fetch BAJAJ-AUTO
BAJAJFINSV 618.7 1240.6500244140625
BANDHANBNK 136.49 203.10000610351562
cannot fetch BERGEPAINT
BEL 36.12 91.55000305175781
BIOCON 100.46 198.6999969482422
cannot fetch BOSCHLTD
BRITANNIA 1122.52 4199.9501953125
CHOLAFIN 554.21 727.6500244140625
CIPLA 797.98 877.25
DLF 135.64 354.25
NYKAA 2.93 137.64999389648438
HDFCLIFE 107.72 492.25
ICICIBANK 569.75 852.4000244140625
ICICIPRULI 82.63 420.25
ITC 224.4 378.70001220703125
cannot fetch INDUSTOWER
INFY 825.88 1380.6500244140625
JSWSTEEL 355.02 657.7999877929688
cannot fetch LTIM
LICI 416.16 560.0
cannot fetch M&M
MARICO 175.78 477.20001220703125
MPHASIS 1617.92 1737.4000244140625
PAYTM -862.35 619.4500122070312
cannot fetch RELIANCE
SBICARD 394.14 723.5499877929688
cannot fetch SRF
cannot fetch MOTHERSON
SIEMENS 896.99 3333.449951171875
cannot fetch TATACONSUM
TATAMOTORS -285.16 416.5
cannot fetch UPL
cannot fetch MCDOWELL-N
ZOMATO -2.4 50.650001525878906

In [50]:
# fetch latest price of the symbols above

watchLivePrice=pd.DataFrame()
for symbol in watchList:
    with io.capture_output() as captured:
        watchLivePrice=pd.concat([watchLivePrice,yf.download(tickers=symbol, period='1d', interval='1m').tail(1)]);
    watchLivePrice["Symbol"]=symbol
    watchLivePrice['upOrDown']=np.where((watchLivePrice["Close"]-watchLivePrice["Open"]>0)>0,1,0)
    watchLivePrice.reset_index(drop=True).style.apply(highlight_greaterthan, threshold=1, column='upOrDown', axis=1)

In [51]:
watchLivePrice.reset_index(drop=True).style.apply(highlight_greaterthan, threshold=1, column='upOrDown', axis=1)

In [13]:
while(True):
    with io.capture_output() as captured:
        price=yf.download(tickers='INDUSINDBK.NS', period='1d', interval='1m',rounding=True).tail(1)
    clear_output(wait=True)
    display(price)
    time.sleep(0.3)
    if((price.Close<1066.4)[0]):
        AlertRing()
        break

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2023-03-31 10:13:00+05:30,1065.35,1065.35,1065.35,1065.35,1065.35,0

In [ ]:
def watchPrice(symbol,trigger,long=True):
    while(True):
    with io.capture_output() as captured:
        price=yf.download(tickers=symbol+'.NS', period='1d', interval='1m',rounding=True).tail(1)
    clear_output(wait=True)
    display(price)
    time.sleep(0.3)
    if((price.Close>369.9)[0] & long==True):
        AlertRing()
        break
    else if ((price.Close<trigger)[0] & long==False):
        AlertRing()
        break

In [ ]:
from random import uniform
import time
from IPython.display import display, clear_output

def black_box():
    i = 1
    while True:
        clear_output(wait=True)
        display('Iteration '+str(i)+' Score: '+str(uniform(0, 1)))
        time.sleep(1)
        i += 1

[*********************100%***********************]  1 of 1 completed

                  Open   High         Low       Close   Adj Close   Volume
Date
2023-03-22  376.950012  378.0  374.200012  376.149994  376.149994  3360615

In [44]:
price=yf.download(tickers='NIFTY_FIN_SERVICE.NS',start="2023-02-25", end=date.today()).tail(1)

[*********************100%***********************]  1 of 1 completed

In [45]:
price

                    Open          High       Low     Close  Adj Close  Volume
Date
2023-04-03  18096.650391  18185.150391  18041.75  18164.75   18164.75       0

## TextBlob for sentiment analysis

The TextBlob library in Python returns sentiment polarity and subjectivity values as part of its sentiment analysis.

* Polarity: Polarity represents the sentiment polarity of a text, ranging from -1 to 1. A polarity score of -1 indicates highly negative sentiment, 0 indicates neutral sentiment, and 1 indicates highly positive sentiment. Polarity values closer to -1 or 1 indicate stronger sentiment, while values closer to 0 indicate weaker or neutral sentiment.

* Subjectivity: Subjectivity represents the subjectivity of a text, ranging from 0 to 1. A subjectivity score of 0 indicates objective text, meaning it is factual or unbiased, while a score of 1 indicates highly subjective text, meaning it is opinionated or biased. Subjectivity values between 0 and 1 indicate varying degrees of subjectivity.

In [5]:
from newsapi import NewsApiClient
from textblob import TextBlob

# Set up your News API key
newsapi = NewsApiClient(api_key='4a51169c54fb4d2880c2f0445f1a2adc')

# Define the stock symbol for which you want to extract news
stock_symbol = 'GLENMARK'

# Define the number of news articles to retrieve
num_articles = 5

# Get news articles related to the stock symbol
articles = newsapi.get_everything(q=stock_symbol, language='en', sort_by='relevancy', page_size=num_articles)

# Extract sentiment from each news article
for article in articles['articles']:
    title = article['title']
    description = article['description']
    content = article['content']
    
    # Concatenate the title, description, and content of the article
    text = f"{title}. {description}. {content}"
    
    # Perform sentiment analysis using TextBlob
    analysis = TextBlob(text)
    polarity = analysis.sentiment.polarity
    subjectivity = analysis.sentiment.subjectivity
    
    # Print the sentiment analysis results
    print("Title: ", title)
    print("Sentiment Polarity: ", polarity)
    print("Sentiment Subjectivity: ", subjectivity)
    print("----")

Title:  What should you do with Bandhan Bank, Kalyan and Glenmark Pharma?
Sentiment Polarity:  -0.016527777777777773
Sentiment Subjectivity:  0.2901388888888889
----
Title:  Topical Drug Delivery Global Market Report 2023
Sentiment Polarity:  -0.001785714285714285
Sentiment Subjectivity:  0.21857142857142856
----
Title:  Glenmark exploring stake sale in life sciences arm to reduce debt
Sentiment Polarity:  0.020833333333333332
Sentiment Subjectivity:  0.6666666666666666
----
Title:  Glenmark gets USFDA nod to market generic medication
Sentiment Polarity:  0.0
Sentiment Subjectivity:  0.0
----
Title:  Glenmark gets USFDA nod for generic drug with 180-day exclusivity
Sentiment Polarity:  0.0
Sentiment Subjectivity:  0.4
----

In [ ]:
indices=["^NSEI","^NSEBANK","^CNXIT","^CNXAUTO","^CNXPHARMA","^CNXMETAL","^CNXREALTY","^CNXMEDIA","^CNXINFRA","NIFTY_OIL_AND_GAS.NS","NIFTY_HEALTHCARE.NS"]

In [10]:
## implementing a news based strategy